body {
    background-color: gray;
}

.ico {
    background-color: white;
    width: 24px;
    height: 24px;
    border: 10px solid red;
    display: block;
    background-image: url(https://www.kakaobank.com/static/images/web/img_kabang_220615.png);
}

.ico-1 {
   background-position: -341px -292px; 
}

.ico-2 {
   background-position: -371px -292px; 
}